body {
	font-family: "Inter", sans-serif;
	margin: 0;
}

button {
	font-family: "Inter", sans-serif;
}

hr {
	margin-top: 0;
	border: none;
	height: 2px;
	background-color: #f0f0f0;
}

header {
	/* background-color: cadetblue; */
	display: flex;
	justify-content: space-between;
	padding: 20px 50px;
	align-items: center;
}

.logoImg {
	/* background-color: red; */
	img {
		width: 200px;
	}
}

.navs {
	display: flex;
	/* background-color: aqua; */
	gap: 35px;
	align-items: center;
	cursor: pointer;
	font-size: 23px;
	font-weight: 500;

	nav:hover {
		padding: 10px 15px;
		background-color: #f0f0f0;
		border-radius: 8px;
	}

	button {
		padding: 10px 15px;
		font-size: 23px;
		font-weight: 500;
		border: none;
		outline: none;
		background-color: #1d4ed8;
		color: white;
		border-radius: 8px;
	}
}

.navs nav:nth-child(2) {
	padding: 10px 20px;
	border-right: 1px solid #f0f0f0;
	color: #db277b;
}

#go-pro:hover {
	background-color: #fce7f3;
}

/* .testbox {
  background-color: red;
  height: 500px;
} */

/* @media (max-width: 1000px) {
  .testbox {
    background-color: yellow;
    font-size: 100px;
  }
} */

/* @media (max-width: 700px) {
  .testbox {
    background-color: hotpink;
    font-size: 400px;
  }
} */

.hamham {
	width: 30px;
	display: none;
}

@media (max-width: 768px) {
	.navs {
		display: none;
	}

	.hamham {
		display: block;
	}
}

.hero {
	display: flex;
	padding: 30px 0 30px 80px;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}

/* .heroImage {
	padding: 10px;
	img {
		width: 700px;
	}
} */

.heroImage img {
	width: 100%;
	max-width: 700px;
	height: auto;
}

.heroText {
	/* background-color: yellowgreen; */

	h1 {
		font-size: 90px;
		line-height: 0.9;
	}

	p {
		font-size: 24px;
	}
}

.heroButtons {
	button {
		padding: 10px 15px;
		font-size: 16px;
		border: none;
		outline: none;
		background-color: #1d4ed8;
		color: white;
		border-radius: 8px;
	}
}

@media (max-width: 1000px) {
	.heroText {
		text-align: center;
		h1 {
			font-size: 40px;
		}
	}

	.heroImage {
		img {
			width: 400px;
		}
	}
}

.testimonials {
	p {
		text-transform: uppercase;
		color: #737373;
		font-size: 15px;
		letter-spacing: 3px;
		line-height: 1px;
		font-weight: 500;
		text-align: center;
		padding-bottom: 40px;
	}
}

.tools-heading,
.resource-heading,
.plugin-header,
.footer_cat-title {
	text-transform: uppercase;
	color: #737373;
	font-size: 15px;
	letter-spacing: 3px;
	line-height: 1px;
	font-weight: 500;
	text-align: center;
	padding-bottom: 40px;
}

.logo-slide {
	overflow: hidden;
}

.logo-track {
	display: flex;
	align-items: center;
	gap: 50px;
	list-style: none;
	padding: 10px 0;
	margin: 0;
	width: max-content;
	animation: scroll 20s linear infinite;
}

.logo-track:hover {
	animation-play-state: paused;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-20%);
	}
}

.hero-paragraph {
	display: flex;
	justify-content: center;
	gap: 40px;
	align-items: center;
	margin: 40px;
	padding: 30px 100px;

	#para-text {
		flex: 1;
		max-width: 600px;
		font-size: 18px;
		font-weight: 400;
	}
}
.color-of-the-day {
	display: flex;
	justify-content: center;
	background-color: #f5f5f5;
	border-radius: 20px;
	align-items: center;
	gap: 30px;
	width: 550px;
	padding: 15px 20px;
	transition: all 0.3s ease-out, border-color 0.3s ease;
}

.color-text {
	display: flex;
	flex-direction: column;
	padding: 25px 10px;

	p {
		margin: 0;
		font-size: 17px;
		padding-top: 5px;
		width: 400px;
		color: #525252;
	}

	h2 {
		margin: 0;
	}
}

.color-of-the-day:hover {
	border: 2px solid #d9d9d9;
	transform: scale(1.05);
}

.homepage_tools {
	display: grid;
	grid-template-columns: repeat(3, 420px);
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	padding: 30px 100px;
	gap: 25px;
	margin-bottom: 80px;

	h1 {
		font-size: 55px;
		font-weight: 800;
		margin: 0;
	}

	p {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 0;
	}
	img {
		width: 20px;
	}
}

.cyan {
	background-color: #cffafe;
	color: #1c9bb9;
	padding: 40px 20px 30px 50px;
	border-radius: 20px;
	text-decoration: none;
	transition: all 0.3s ease-out, border-color 0.3s ease;
}

.cyan:hover {
	background-color: #06b6d4;
	color: white;
	transform: scale(1.05);
}

.blue {
	background-color: #dbeafe;
	color: #2563eb;
	padding: 40px 20px 30px 50px;
	border-radius: 20px;
	text-decoration: none;
	transition: all 0.3s ease-out, border-color 0.3s ease;
}
.blue:hover {
	background-color: #dbeafe;
	color: white;
	transform: scale(1.05);
}
.purple {
	background-color: #f3e8ff;
	color: #9333ea;
	padding: 40px 20px 30px 50px;
	border-radius: 20px;
	text-decoration: none;
	transition: all 0.3s ease-out, border-color 0.3s ease;
}

.purple:hover {
	background-color: #a855f7;
	color: white;
	transform: scale(1.05);
}

.pink {
	background-color: #fce7f3;
	color: #db2777;
	padding: 40px 20px 30px 50px;
	border-radius: 20px;
	text-decoration: none;
	transition: all 0.3s ease-out, border-color 0.3s ease;
}

.pink:hover {
	background-color: #ec4899;
	color: white;
	transform: scale(1.05);
}

.red {
	background-color: #fee2e2;
	color: #dc2626;
	padding: 40px 20px 30px 50px;
	border-radius: 20px;
	text-decoration: none;
	transition: all 0.3s ease-out, border-color 0.3s ease;
}

.red:hover {
	background-color: #ef4545;
	color: white;
	transform: scale(1.05);
}

.orange {
	background-color: #ffedd5;
	color: #ea580c;
	padding: 40px 20px 30px 50px;
	border-radius: 20px;
	text-decoration: none;
	transition: all 0.3s ease-out, border-color 0.3s ease;
}

.orange:hover {
	background-color: #f97316;
	color: white;
	transform: scale(1.05);
}
.yellow {
	background-color: #fef9c3;
	color: #ca8a04;
	padding: 40px 20px 30px 50px;
	border-radius: 20px;
	text-decoration: none;
	transition: all 0.3s ease-out, border-color 0.3s ease;
}
.yellow:hover {
	background-color: #fef9c3;
	color: white;
	transform: scale(1.05);
}
.green {
	background-color: #dcfce7;
	color: #16a34a;
	padding: 40px 20px 30px 50px;
	border-radius: 20px;
	text-decoration: none;
	transition: all 0.3s ease-out, border-color 0.3s ease;
}
.green:hover {
	background-color: #22c55e;
	color: white;
	transform: scale(1.05);
}

.arrow {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.homepage_resources {
	display: grid;
	grid-template-columns: repeat(3, 420px);
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	padding: 30px 100px;
	gap: 25px;
	margin-bottom: 80px;

	a {
		text-decoration: none;
		background-color: #f0f0f0;
		padding: 40px;
		border-radius: 20px;
		transition: all 0.3s ease-out, border-color 0.3s ease;
	}

	a:hover {
		background-color: #e5e5e5;
		transform: scale(1.05);
	}

	h2 {
		color: black;
		margin: 0;
		padding-bottom: 10px;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: -1px;
	}

	span {
		color: gray;
		font-weight: 450;
		letter-spacing: 0.5px;
	}
}

.homepage_plugins {
	display: grid;
	grid-template-columns: repeat(3, 420px);
	justify-content: center;
	padding: 30px 100px;
	gap: 25px;

	a {
		text-decoration: none;
		border: 1px solid #f0f0f0;
		padding: 30px 40px;
		border-radius: 20px;
		text-align: center;
		color: black;
		font-size: 35px;
		font-weight: 800;
		letter-spacing: -1px;
		transition: all 0.3s ease-out, border-color 0.3s ease;
	}

	a:hover {
		border: 2px solid #d9d9d9;
		transform: scale(1.05);
	}
}

@media (max-width: 1264px) {
	.homepage_plugins {
		grid-template-columns: repeat(2, 1fr);
	}
	.adobe-btn {
		grid-column: 1 / -1;
	}
	.homepage_resources {
		grid-template-columns: repeat(2, 1fr);
	}
	#footer-header {
		font-size: 90px;
	}
}

@media (max-width: 845px) {
	.homepage_plugins {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 1202px) {
	.homepage_tools {
		max-width: 800px;
		flex-wrap: wrap;
	}
}
@media (max-width: 992px) {
	#footer-menu {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.footer-header {
	text-align: center;
	margin: 0;

	p {
		margin: 0;
		padding: 20px 120px 50px 120px;
		font-size: 180px;
		font-weight: 500;
		color: #f0f0f0;
	}
}

.line-separator {
	color: #f0f0f0;
}

#footer1,
#footer2 {
	display: flex;
	justify-content: center;
}

#footer_menu {
	display: flex;
	gap: 60px;
	max-width: 1200px;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 50px;

	a {
		text-decoration: none;
		color: black;
	}

	li {
		padding-top: 20px;
		list-style: none;
		text-align: start;
	}
}
.footer_cat-title {
	padding-bottom: 20px;
}
#footer_bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	width: 100%;
	margin: 30px;
	margin-left: 200px;
	font-size: 13px;

	a {
		text-decoration: none;
		color: black;
		font-weight: 600;
	}
}
#social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px;
}
.socials {
	display: flex;
	padding: 0 20px;
	align-items: center;
	gap: 12px;
	img {
		width: 20px;
	}
	li {
		list-style: none;
	}
}
.language-button {
	padding: 8px 10px;
	text-align: center;

	span {
		padding: 0 5px;
	}
}
.language-button:hover {
	background-color: #f0f0f0;
	border-radius: 8px;
}
